<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="gssrcp-gef5"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://gssrcp-gef5/com.gss.rcp.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="gssrcp-gef5">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/gssrcp-gef5/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
